<h1>Contact information</h1>
<p><strong>Berlin Bikes</strong></p>
<p>Friedrichstraße 100</p>
<p>10117 Berlin</p>
<p>Phone: <a href="tel:030123456789">030 123 456 789</a></p>
<p>Mail: <a href="mailto:info@berlin-bikes.com">info@berlin-bikes.com</a></p>
