/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery.raty
 */

th {
  width:30%;
}

th:nth-child(even) {
  width:10%;
}


.form-control {
  background-color: #333A40;
  border:none;
}

.btn-search {
  font-size: 0.8em;
}

.from-control-lt {
  background-color: #fff;
}

/* input {
  width:50%;
} */

textarea {
  width:50%;
  min-height:100px;
}

.field>label {
  font-weight: 700;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
    text-align: center;
    border:1px solid #eee;
    box-shadow: 15px 15px 15px 0px rgb(173,173,173);
    -webkit-box-shadow: 15px 15px 15px 0px rgb(173,173,173);
    -moz-box-shadow: 15px 15px 15px 0px rgb(173,173,173);
}

.form-signin-heading {
  margin-bottom: 30px;
  text-align: center;
}

.field_fw>input {
  width:90%;
  margin-bottom: 30px;
}

.field_fw>label {
  margin-bottom: .1em;
}

.lt-font {
  color:#fff!important;
}

.navbar {
  padding:1.5rem 1rem;
}
