// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


tr {
  margin:.5em;
  background-color: #fff;
  border: solid 1px #eee;
}

td {
  border: solid 1px #eee;
}

.container {
  margin-bottom:150px;
}

.row {
  justify-content: space-around;
}

.rowflex {
  flex:1;
  flex-wrap: wrap;
  min-width: 250px;
  padding: 0 0.5em;
}

.rowtext {
  text-align:left;
}

img {
  padding:45px 0;
}

.img-preimage {
  height: 100px;
  padding: 0;
}

.space {
  margin-top: 60px;
  margin-bottom: 120px;
}

.title-align {
  flex:1 0 30%;
  margin:5px;
  text-align:center;
  padding-top:40px;
  min-height:360px;
  background-color: #eee;
  border:1px solid #eee;
}

.title-align--product {
  display:inline-block;
  font-size: 32px;
  padding-bottom:36px;
}

.price-tag {
  display:inline-block;
  font-size:24px;
  font-weight: 700;
  margin-top:30px;
}

.review {
  display: block;
  padding:50px;
  background-color:#eee;
  margin-bottom:120px;
}

.review-body {
  margin:45px 0px;
  font-size:1.5em;
  text-decoration: underline;
}

.pagination>em, a {
  margin:0px 5px;
}

.current {
  font-weight:700;
  font-size:1em;
}

.glyphicon-remove {
  color:#f29898;
}

.glyphicon-remove:hover {
  color:#ff0000;
}
