// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


tr {
  margin:.5em;
  background-color: #fff;
  border: solid 1px #eee;
}

td {
  border: solid 1px #eee;
}

.row {
  justify-content: space-around;
}

.rowflex {
  flex:1;
  flex-wrap: wrap;
  min-width: 250px;
  padding: 0 0.5em;
}

.rowtext {
  text-align:left;
}

img {
  padding:45px 0;
}

.img-preimage {
  height: 100px;
  padding: 0;
}

.space {
  margin-top: 60px;
}

.title-align {
  flex:1 0 30%;
  margin:5px;
  text-align:center;
  padding-top:40px;
  min-height:360px;
  background-color: #eee;
  border:1px solid #eee;
}

.title-align--product {
  display:inline-block;
  font-size: 36px;
  padding-bottom:36px;
}

.price-tag {
  display:inline-block;
  font-size:24px;
  font-weight: 700;
  margin-top:30px;
}
