// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.user-id {
  margin: 8% 0;
  padding:30px;
  background-color:#eee;
}
