<p id="notice"><%= notice %></p>

<div class="container">
  <h1>Products</h1>

  <div class="container-fluid">
    <div class="row">
      <% cache (cache_key_for_products) do %>
        <%= render @products.order(id: :asc) %>
      <% end %>
    </div>
  </div>

  <br>
  <% if signed_in? && current_user.admin? %>
  <button type="button" class="btn btn-light"><%= link_to 'New Product', new_product_path %></button>
  <% end %>
</div>
